<% include ./partials/header %>

<div class="ui main text segment">
    <h1 class="ui center aligned header">Index Page</h1>
    
    <% blogs.forEach(function(blog){ %>
    <div style="margin-bottom:20px">
        <div class="ui center aligned grid">
            <h2><a href="/blogs/<%= blog._id %>"><%= blog.title %></a></h2>
        </div>
        <div class="ui center aligned grid">
            <img src="<%= blog.image %>">
        </div>
        <div class="ui center aligned grid">
            <p><%= blog.body.substring(0,30) %>...</p>
        </div>
        <div class="ui center aligned grid">
            <p><%= blog.date.toDateString() %></p>
        </div>
        <div class="ui center aligned grid">
            <a class="ui blue button" href="/blogs/<%= blog._id %>">Read More</a>
        </div>
        <hr/>
    </div>
    <% }) %>
</div>

<% include ./partials/footer %>
